 <%= form_with(model: @movie, local: true) do |f| %>
 
  <% if @movie.errors.any?%>
   <div class="errors">
    <h5><%= @movie.errors.count%></h5>
    <ul>
      <% @movie.errors.full_messages.each do |msg|%>
        <li><%= msg%></li>
      <%end%>
    </ul>
   </div>
  <%end%>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

   <div class="form-group">
   <%= f.label :total_gross %>
    <%= f.number_field :total_gross, { class: "form-control" } %>
  </div>
 


 <div class="form-group">
    <%= f.label :rating %>
    <%= f.text_field :rating, autofocus: true, class: "form-control" %>
    <%= f.select :rating, Movie::RATINGS, prompt: "Select-One" %>
  </div>
 


 <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, autofocus: true, class: "form-control" %>
  </div>
 

 <div class="form-group">
    <%= f.label :released_on %>
    <%= f.text_field :released_on, { class: "form-control" } %>
  </div>
 
  <div class="form-group">
    <%= f.label :movie_image %>
    <%= f.text_field :movie_image, { class: "form-control" } %>
  </div>

   <div class="form-group">
    <%= f.label :spot %>
    <%= f.number_field :spot, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :cast %>
    <%= f.text_field :cast, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :director %>
    <%= f.text_field :director, autofocus: true, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name  %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration, autofocus: true, class: "form-control" %>
  </div>

   <button type="submit" class="btn btn-primary"> Submit</button>

<%end%>
 