 <%= form_with(model: @movie, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

 
 <div class="form-group">
    <%= f.label :rating %>
    <%= f.text_field :rating, autofocus: true, class: "form-control" %>
  </div>
 
 <div class="form-group">
    <%= f.label :total_gross %>
    <%= f.text_field :total_gross, autofocus: true, class: "form-control" %>
  </div>
 

 <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, autofocus: true, class: "form-control" %>
  </div>
 

 <div class="form-group">
    <%= f.label :released_on %>
    <%= f.datetime_select :released_on,{ampm: true}, { class: "form-control" } %>0
  </div>
 
  <div class="form-group">
    <%= f.label :movie_image %>
    <%= f.text_field :movie_image, { class: "form-control" } %>0
  </div>

   <div class="form-group">
    <%= f.label :spot %>
    <%= f.number_field :spot, { class: "form-control" } %>0
  </div>


  <button type="submit" class="btn btn-primary"> Submit</button>
<%end%>