<div style="background: #AF7AC5">
   <% a = @movies.length %>

 <center style="background: pink"> <h1><strong> Total Movies This Page : <%= a %></strong></h1></center>
   <% @movies.each do |movie|%>
     
      <h2 style="background: white">
                   
       
 


       <strong>Title :<%= link_to movie.title, movie_path(movie.id) %></strong>





      <span class ="pull-right"> <h4>Totle_gross :<%=number_change(movie.total_gross)%></h4></span>
        </h2><br><br>
     
      <h3>Rating :<%=movie.rating%></h3>
     
     
      <h3>Released :<%=time_date(movie.released_on)%></h3>
     


     <p> <h3>Description :<%=(movie.description).truncate(50)%></h3></p>
      <br>
   <%end%>
</div>

