<center style="background: pink"> <h1><strong> Movie  </strong></h1></center>
 
     
      <h2 style="background: white">
          <%= image_tag @movie.movie_image %>
       <strong>Title :<%= @movie.title%></strong> 
      <span class ="pull-right"> <h4>Totle_gross :<%=number_change(@movie.total_gross)%></h4></span>
        </h2><br><br>
     
      <h4>Rating :<%=@movie.rating%></h4>
     
     
      <h4>Released :<%=time_date(@movie.released_on)%></h4>
     


     <p> <h4>Description :<%=@movie.description%></h4></p>
      <h4>Cast :<%=@movie.cast%></h4>
      <h4>Director :<%=@movie.director%></h4>
      <h4>Duration :<%=@movie.duration%></h4>
      <br>
  
      <div class="movie-liker">
       <h3>Likers</h3>
       <% if @users.present? %>
       <% @users.each do |user|%>
       <ul><li> <h5><%= link_to user.name, user  %></h5></li> </ul>
       <% end%>
       <% end%> 
     </div>

     
     <div class="categories">
    <%# binding.pry%>
    <% if @categories.present? %>
    <h1>categories</h1>
    <ul>
      <% @categories.each do |category| %>
        <li><%= category.name %> </li>
      <% end %>
    </ul>
  <% end %>
</div>


   <%if current_user_admin?(current_user) && @movie.admin_id==current_user.id%>
    <%= link_to 'Edit' ,  edit_movie_path(@movie) , class: 'btn btn-default' %>
     <%end%>
     <%= link_to 'reviews ' ,  movie_reviews_path(@movie), class: 'btn btn-primary '%>
